<div data-role="header">
<h1>Shopping list <%= current_user.email %> </h1>
<%= link_to "Back", lists_path, "data-icon" => "plus", "class" => "ui-btn-left" %>
</div>

<div data-role="content">
<%= render 'form' %>
</div>

